
.list-view {
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        flex-direction: column;
        border: 2px solid black;
    }
    .row:not(.row:first-child) {
        border-top: none;
    }

    .paginator {
        display: flex;
        margin: auto;
        padding: 20px;
        .page {
            display: flex;
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}